.scroll-invitation__container {
  position: fixed;
  bottom: 53px;
  left: 50%;
  transform: translateY(10%);
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.scroll-invitation__svg {
  fill: white;
  cursor: pointer;
}

.scroll-invitation__container:hover {
  transform: translateY(-3px);
}
